@use 'vars';
@use 'mixins';
@use 'base';

.article-page {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  h2 {
    order: 1;
  }
}
.article-page-img {
  order: 2;
  width: 100%;
  max-width: 18.75rem;

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}
.article__history {
  order: 3;
}
