@charset "UTF-8";
*, ::after, ::before {
  box-sizing: border-box;
}

header {
  background-color: lightgray;
  height: 100%;
}

body {
  margin: 0;
  width: auto;
  padding: 0;
}

main {
  padding: 1rem;
}

.main-layout {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

h1 {
  font-size: 1.875rem;
  color: black;
  margin-top: 1.25rem;
  text-align: center;
}

h2 {
  font-size: 1.25rem;
  color: #da762a;
  margin-bottom: 0.625rem;
  text-align: left;
}

header nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  padding: 0.625rem;
}

footer {
  background-color: #363030;
  left: 0;
  bottom: 0;
  color: #ffffff;
}

@media screen and (min-width: 64rem) {
  body {
    margin: 0 auto;
  }
  .main-layout {
    flex-direction: row;
  }
  header nav {
    background-color: lightgray;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
*, ::after, ::before {
  box-sizing: border-box;
}

header {
  background-color: lightgray;
  height: 100%;
}

body {
  margin: 0;
  width: auto;
  padding: 0;
}

main {
  padding: 1rem;
}

.main-layout {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

h1 {
  font-size: 1.875rem;
  color: black;
  margin-top: 1.25rem;
  text-align: center;
}

h2 {
  font-size: 1.25rem;
  color: #da762a;
  margin-bottom: 0.625rem;
  text-align: left;
}

header nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  padding: 0.625rem;
}

footer {
  background-color: #363030;
  left: 0;
  bottom: 0;
  color: #ffffff;
}

@media screen and (min-width: 64rem) {
  body {
    margin: 0 auto;
  }
  .main-layout {
    flex-direction: row;
  }
  header nav {
    background-color: lightgray;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.nav {
  text-align: center;
  width: 18.75rem;
}

.nav__logo img {
  vertical-align: top;
  margin-left: 15.625rem;
  width: 8.75rem;
  height: 4.375rem;
  padding: 0.625rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.nav__top {
  flex-direction: row;
  width: auto;
}

.nav__list,
.search {
  display: none;
  width: 100%;
}

.search {
  position: relative;
  margin-bottom: 0.313rem;
  align-items: center;
  font-size: 0;
}
.search .search__input,
.search .search__img {
  vertical-align: middle;
  font-size: 0.875rem;
}

.search__input {
  border: none;
  padding: 0.625rem;
  width: 18.75rem;
  background-color: #ffffff;
  color: black;
}

.search__img {
  background-image: url(../../task8/assets/icon-search.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  width: 1.875rem;
  height: 2.313rem;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
}

.nav__burger {
  position: absolute;
  top: 0.938rem;
  left: 0.938rem;
  padding: 0.625rem;
  border: none;
  background: none;
  cursor: pointer;
}
.nav__burger img {
  width: 1.875rem;
  height: 1.875rem;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: lightgray;
}

.nav__list.active,
.search.active {
  display: block;
}

.nav__list {
  list-style: none;
  background-color: rgb(170, 170, 170);
  color: black;
}
.nav__list .nav__item {
  padding: 0.625rem 0;
  color: black;
}
.nav__list .nav__item a {
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 64rem) {
  .nav {
    width: auto;
  }
  .nav__logo img {
    box-sizing: border-box;
    margin-left: 0rem;
    display: block;
  }
  .nav__list {
    display: flex !important;
    flex-direction: row;
    list-style: none;
    text-align: center;
    background-color: lightgray;
  }
  .nav__list .nav__item {
    border-right: 0.125rem solid black;
    display: inline-block;
    padding: 0 0.938rem;
    margin-top: 0rem;
  }
  .nav__list .nav__item:last-child {
    border-right: 0;
  }
  .search {
    display: block !important;
    width: auto;
    margin-top: 0;
  }
  .search__input {
    width: 9.375rem;
  }
  .nav__burger {
    display: none;
  }
}
*, ::after, ::before {
  box-sizing: border-box;
}

header {
  background-color: lightgray;
  height: 100%;
}

body {
  margin: 0;
  width: auto;
  padding: 0;
}

main {
  padding: 1rem;
}

.main-layout {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

h1 {
  font-size: 1.875rem;
  color: black;
  margin-top: 1.25rem;
  text-align: center;
}

h2 {
  font-size: 1.25rem;
  color: #da762a;
  margin-bottom: 0.625rem;
  text-align: left;
}

header nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  padding: 0.625rem;
}

footer {
  background-color: #363030;
  left: 0;
  bottom: 0;
  color: #ffffff;
}

@media screen and (min-width: 64rem) {
  body {
    margin: 0 auto;
  }
  .main-layout {
    flex-direction: row;
  }
  header nav {
    background-color: lightgray;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
footer nav {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  padding: 1.25rem;
}

.footer__nav-list {
  list-style: none;
  line-height: 2;
  margin: 0;
  padding: 0;
  width: 12.5rem;
}

.footer__nav-list--desktop-only {
  display: none;
}

х4 {
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 0.625rem;
}

.footer__nav-list a:link,
.footer__nav-list a:visited {
  color: lightgray;
  text-decoration: none;
}

.footer__rights {
  margin-top: 2.5rem;
  padding-bottom: 2.5rem;
  margin-bottom: -0.625rem;
  text-align: center;
}

@media screen and (min-width: 64rem) {
  footer nav {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .footer__nav-list {
    width: auto;
    margin-right: 3.75rem;
  }
  .footer__nav-list--desktop-only {
    display: block;
  }
}
*, ::after, ::before {
  box-sizing: border-box;
}

header {
  background-color: lightgray;
  height: 100%;
}

body {
  margin: 0;
  width: auto;
  padding: 0;
}

main {
  padding: 1rem;
}

.main-layout {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

h1 {
  font-size: 1.875rem;
  color: black;
  margin-top: 1.25rem;
  text-align: center;
}

h2 {
  font-size: 1.25rem;
  color: #da762a;
  margin-bottom: 0.625rem;
  text-align: left;
}

header nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  padding: 0.625rem;
}

footer {
  background-color: #363030;
  left: 0;
  bottom: 0;
  color: #ffffff;
}

@media screen and (min-width: 64rem) {
  body {
    margin: 0 auto;
  }
  .main-layout {
    flex-direction: row;
  }
  header nav {
    background-color: lightgray;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.content {
  width: 100%;
  margin-top: 0rem;
}

.skip-link:focus {
  left: 0;
}

.side-menu {
  display: none;
}

.article {
  margin: 0.938rem;
  padding: 1.25rem;
  background: #f3f3f3;
  text-align: left;
  box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.1);
  font-size: 0.938rem;
}
.article .article__img--right {
  flex: 0 0 auto;
  order: 0;
  align-self: flex-end;
}
.article .article__img--right img {
  width: 10.625rem;
  height: 8.75rem;
  margin: 0;
}

.article__body {
  flex: 1;
  flex-grow: 1;
  order: 1;
}

.article_links {
  flex: 1;
  order: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
}

.content__row {
  font-size: 0;
  white-space: normal;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.article--part-2 {
  flex: 1 1 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  padding: 1rem;
  box-sizing: border-box;
}

.card-content {
  display: flex;
  flex-direction: column;
}
.card-content h2 {
  flex: 1;
  order: 1;
}
.card-content p {
  flex: 1;
  order: 3;
}
.card-content .article__img--wide {
  flex: 1;
  order: 2;
}

.article--left .article__body {
  order: 2;
}
.article--left .article_links {
  order: 1;
}
.article--left .article_links .article__read-more {
  align-self: flex-start;
}

.article__img--wide img {
  width: 100%;
  height: 10.625rem;
  display: block;
  margin: 0 auto;
}

.article--text h2 {
  flex: 1;
  order: 1;
}
.article--text p {
  flex: 1;
  order: 2;
}
.article--text .article__img--wide {
  flex: 1;
  order: 3;
}

.article__title {
  text-align: center;
  margin-top: -0.313rem;
}

.article__read-more {
  margin-top: auto;
  align-self: flex-end;
}

.content__articles {
  display: flex;
  flex-wrap: wrap;
}

.visually-hidden {
  border: 0;
  clip: rect(0.063, 0.063rem, 0.063rem, 0.063rem);
  height: 0.063rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 0.063rem;
}

.skip-link {
  left: -100%;
  position: absolute;
}

.skip-link:focus {
  left: 50%;
}

@media screen and (min-width: 64rem) {
  .content__articles {
    flex-wrap: wrap;
  }
  .side-menu {
    display: block;
    flex: 0 0 12.5rem;
  }
  .left-menu {
    background-color: #f3f3f3;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin: 1.563rem;
  }
  .left-menu ul {
    padding: 0.625rem;
    margin: 0;
  }
  .left-menu ul li {
    list-style: none;
  }
  .left-menu__header {
    display: flex;
    direction: row;
  }
  .left-menu__item {
    background-color: #979694;
    width: 12.5rem;
    border: none;
    cursor: pointer;
    padding: 0.063rem 1.25rem;
    margin: 0.625rem 0;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    height: 2.5rem;
    color: #ffffff;
    line-height: 2.375;
    position: relative;
    overflow: hidden;
  }
  .left-menu__btn {
    align-self: flex-end;
    background-color: #979694;
    color: #ffffff;
    border: none;
    height: 2.5rem;
    margin-bottom: 0.625rem;
    font-size: 1.5rem;
    font-weight: lighter;
    padding: 0 0.625rem;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
    cursor: pointer;
  }
  .item--opened {
    background-color: #da762a;
  }
  .left-menu__item--opened {
    background-color: #f8f8f8;
    border: #f3f3f3 solid 0.063rem;
    width: 12.5rem;
    border-radius: 10%;
    margin: 0 0.625rem;
    height: 6.25rem;
    display: block;
    position: relative;
    list-style: none;
    color: black;
  }
  .left-menu__item--opened a {
    color: black;
  }
  .left-menu__item--closed {
    display: none;
  }
  .content {
    flex: 1;
    height: 100%;
  }
  .content__row {
    flex-direction: row;
    gap: 0.5rem;
  }
  .article--part-2 {
    min-width: 45%;
  }
  .article--part-3 {
    min-width: 30%;
  }
  .article--left .article__body {
    order: 1;
  }
  .article--left .article_links {
    order: 2;
  }
  .article--left .article_links .article__read-more {
    align-self: flex-end;
  }
  .article--text p {
    order: 3;
  }
  .article--text .article__img--wide {
    order: 2;
  }
}
*, ::after, ::before {
  box-sizing: border-box;
}

header {
  background-color: lightgray;
  height: 100%;
}

body {
  margin: 0;
  width: auto;
  padding: 0;
}

main {
  padding: 1rem;
}

.main-layout {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

h1 {
  font-size: 1.875rem;
  color: black;
  margin-top: 1.25rem;
  text-align: center;
}

h2 {
  font-size: 1.25rem;
  color: #da762a;
  margin-bottom: 0.625rem;
  text-align: left;
}

header nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  padding: 0.625rem;
}

footer {
  background-color: #363030;
  left: 0;
  bottom: 0;
  color: #ffffff;
}

@media screen and (min-width: 64rem) {
  body {
    margin: 0 auto;
  }
  .main-layout {
    flex-direction: row;
  }
  header nav {
    background-color: lightgray;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.content-article {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.content-article h2 {
  order: 1;
}

.content-article__image {
  order: 2;
  width: 100%;
  max-width: 18.75rem;
}
.content-article__image img {
  width: 100%;
  height: auto;
  display: block;
}

.content-article__history {
  order: 3;
}

*, ::after, ::before {
  box-sizing: border-box;
}

header {
  background-color: lightgray;
  height: 100%;
}

body {
  margin: 0;
  width: auto;
  padding: 0;
}

main {
  padding: 1rem;
}

.main-layout {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

h1 {
  font-size: 1.875rem;
  color: black;
  margin-top: 1.25rem;
  text-align: center;
}

h2 {
  font-size: 1.25rem;
  color: #da762a;
  margin-bottom: 0.625rem;
  text-align: left;
}

header nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  padding: 0.625rem;
}

footer {
  background-color: #363030;
  left: 0;
  bottom: 0;
  color: #ffffff;
}

@media screen and (min-width: 64rem) {
  body {
    margin: 0 auto;
  }
  .main-layout {
    flex-direction: row;
  }
  header nav {
    background-color: lightgray;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.contact {
  min-height: 70vh;
  width: min(90vw, 75rem);
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-shadow: 0 0.2rem 0.5rem black;
  margin: auto;
}

.contact__map {
  flex: 1 1 18.75rem;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}
.contact__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}

.contact-form {
  flex: 1 1 18.75rem;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  position: relative;
  gap: 1rem;
}
.contact-form::before {
  position: absolute;
  top: 10%;
  left: -2.8rem;
  content: "";
  width: 0;
  height: 0;
  border: 1.4rem solid transparent;
  border-right: 1.4rem solid #979694;
}
.contact-form__title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.contact-form__input, .contact-form__textarea {
  width: 100%;
  padding: 1rem;
  border: 0.08rem solid #f3f3f3;
  border-radius: 2rem;
  background-color: transparent;
  color: #000000;
  font-size: 1rem;
  margin-top: 0.8rem;
}
.contact-form__input:focus, .contact-form__textarea:focus {
  outline: 0.125rem solid rgb(209, 152, 99);
  outline-offset: 0.125rem;
}
.contact-form__textarea {
  height: 6rem;
  resize: none;
}
.contact-form__button {
  background-color: #f8f8f8;
  padding: 1rem 2rem;
  color: black;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  margin-top: 0.8rem;
  transition: background-color 0.3s;
}
.contact-form__button:hover, .contact-form__button:focus {
  background-color: rgb(209, 152, 99);
  outline: none;
}
.contact-form__button:focus {
  outline: 0.125rem solid black;
  outline-offset: 0.125rem;
}

@media screen and (min-width: 64rem) {
  .contact {
    flex-direction: row;
  }
}/*# sourceMappingURL=index.css.map */