header{
  background-color: lightgray;
  height: 100px;
  width: 100%;
}
.navigation-bar {
  text-align:center;
}

h1 {
  font-size: 30px;
  color: #040303;
  margin-top: 20px;
  text-align: center;
}

.logo {
  width: 140px;
  height: 70px;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin-top: -30px;
  text-align: center;
  color:#040303;


}


.nav-list .nav-item {
  border-right: 2px solid #040303;
  display: inline-block;
  padding: 0 15px;
  color: black;
  margin-top: 0px;
}
  .nav-list .nav-item  a{
  text-decoration: none;
  color:#040303;

}

.nav-list .nav-item:last-child {
  border-right:0;
}

.search {
  position: absolute;
  top: 30px;
  right: 20px;
  display: flex;
  align-items: center;
}

.search-input {
  border: none;
  padding: 10px;
  width: 150px;
  background-color: #ffffff;
  color: #040303;
}

.search-img {
    background-image: url(assets/icon-search.png); 
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 35px;
    border: none;
    cursor: pointer;
    background-color: white;
}

.rights {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.containers{
  width: 100%;
  padding: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  position:relative;
  height: 1200px;
}

h2{
  font-size: 20px;
  color: #da762a;
  margin-bottom: 10px;
  text-align: left;
}
.article {
  float:left;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 20px;
  background: #f3f3f3;
  text-align: left;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.part-2{
width: 37%; 
height: 300px;

}
.part-3{
  width: 23%;
  text-align: justify;
  height:400px;
}

.card-img-3 {
  width: 100%;
  height: 170px;
  float:center;
  margin-bottom: 0px; 
  bottom: 0;
}
.title-3{
  text-align: center;
  margin-top: -5px;
}

.card-img{
  width: 230px;
  height: 180px;
  float:right;
  margin-top: -50px;
  margin-left:10px;
  margin-bottom: 0px;

}

.read-more {
  float: right;
  margin-top: 5%;

}

.container-left {
  width: 20%;
  float: left;
  padding: 20px;
  margin-top: 20px;
}

.container-right {
  width: 70%;
  float: right;
  padding: 20px;
  margin-top: 20px;
}

.left-menu {
  background-color: #f3f3f3;
  width:280px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  display: inline-block;
  margin-left: 40px;
  margin-top: 20px;
}

.left-menu-item {
    background-color:#979694;
    width: 230px;
    border: none;
    cursor: pointer;
    padding-bottom: 1px;
    margin-bottom: 10px;
    margin-top: 10px ;
    border-radius: 8px;
    height: 40px;
    color: white;
    padding-left: 20px;
    display: flex;
    align-items: center; 
    justify-content: flex-start;

}

.btn-plus{
  display: inline-block;
  background-color: #979694;
  color: rgb(255, 255, 255); 
  border: none;
  margin-left:120px;
  height: 35px;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
  font-size: 30px;
  font-weight:lighter;
}

.selected {
background-color: #da762a;
}

.nav-list-left {
  background-color: #f8f8f8;
  border: #f3f3f3 solid 1px;
  width: 200px;
  height: 100px;
  display: block;
  position: relative;
  list-style: none;
}



.footer {
  background-color: #363030;
  height: 300px;
  width: 100%;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align:center;
  color: white;
}
.footer-links {
  display: flex;
  justify-content: center;
  text-align: center;
  color: lightgray;
}

.nav-list-footer {
  list-style:none;
  display:block;
  position: relative;
  float: left;
  line-height: 2;
  text-align: left;
  margin-right: 100px;
}

.footer-title {
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}

body {
  overflow-x: hidden;
}