@use 'vars';
@use 'mixins';
@use 'base';

.footer__nav-list {
  list-style: none;
  line-height: 2;
}


.footer__nav-list--title {
  font-weight: bold;
  color: vars.$white-color;
}

.footer__nav-list a:link,
.footer__nav-list a:visited {
  color: vars.$background-color;
  text-decoration: none;
}