$background-color: lightgray;
$background-color-mobile: rgb(170, 170, 170);
$text-color: black;
$headings-color: #da762a;
$white-color: #ffffff;
$nav-color: #f8f8f8;
$left-menu-background-color: #f3f3f3;
$left-menu-item-color: #979694;
$footer-background-color: #363030;
