*, ::after, ::before {
  box-sizing: border-box;
}

header {
  background-color: lightgray;
  height: 100px;
  width: 100%;
}

body {
  margin: 0 auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  flex: 1;
  padding: 20px;
}

.page-layout {
  display: flex;
  align-items: flex-start;
}

.navigation-bar {
  text-align:center;
}

h1 {
  font-size: 30px;
  color: #040303;
  margin-top: 20px;
  text-align: center;
}

h2 {
  font-size: 20px;
  color: #da762a;
  margin-bottom: 10px;
  text-align: left;
}

.logo img{
  box-sizing: border-box;
  width: 140px;
  height: 70px;  
  padding: 10px;
  object-fit: contain;
  display: block;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin-top: -30px;
  text-align: center;
  color:#040303;
}

.nav-list .nav-item {
  border-right: 2px solid #040303;
  display: inline-block;
  padding: 0 15px;
  color: black;
  margin-top: 0px;
}

.nav-list .nav-item  a {
  text-decoration: none;
  color:#040303;

}

.nav-list .nav-item:last-child {
  border-right:0;
}

.search {
  position: absolute;
  top: 30px;
  right: 20px;
  display: flex;
  align-items: center;
}

.search-input {
  border: none;
  padding: 10px;
  width: 150px;
  background-color: #ffffff;
  color: #040303;
}

.search-img {
  background-image: url(assets/icon-search.png); 
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 35px;
  border: none;
  cursor: pointer;
  background-color: white;
}

.content {
  position: relative;
  float: right;
  padding: 20px;
  height: 1000px;
  margin-top: 0px;
}

.side-menu {
  width: 20%;
  float: left;
  padding: 20px;
  margin-top: 90px;
}

.left-menu {
  background-color: #f3f3f3;
  width:280px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  display: inline-block;
  margin: 20px 40px;
}

.left-menu-item {
  background-color:#979694;
  width: 230px;
  border: none;
  cursor: pointer;
  padding: 1px 20px;
  margin: 10px;
  border-radius: 8px;
  height: 40px;
  color: white;
  display: flex;
  align-items: center; 
  justify-content: flex-start;
}

.btn-plus{
  display: inline-block;
  background-color: #979694;
  color: rgb(255, 255, 255); 
  border: none;
  margin-left:120px;
  height: 35px;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
  font-size: 30px;
  font-weight:lighter;
}

.selected {
  background-color: #da762a;
}

.nav-list-left {
  background-color: #f8f8f8;
  border: #f3f3f3 solid 1px;
  width: 200px;
  height: 100px;
  display: block;
  position: relative;
  list-style: none;
  color: #040303;
}

.nav-list-left a {
  color: #040303;  
}

.article {
  margin: 15px;
  padding: 20px;
  background: #f3f3f3;
  text-align: left;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.row {
  display: flex;
  gap: 20px;
}

.row:nth-child(1) article {
  flex: 1 1 40%;
}

.row:nth-child(2) article {
  flex: 1 1 33.33%;
}

.part-2{
  text-align: left;
}

.part-3{
  text-align: justify;
}

.card-img-3 {
  width: 100%;
  height: 170px;
  float:center;
  margin-bottom: 0px; 
  bottom: 0;
}

.title-3{
  text-align: center;
  margin-top: -5px;
}

.card-img{
  width: 230px;
  height: 180px;
  float:right;
  margin: -50px 0 0 10px;
}

.read-more {
  float: right;
  margin-top: 5%;

}

.articles {
  width: 90%;
  float: center;
  margin-left: 20px;
}

.footer {
  background-color: #363030;
  width: 100%;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align:center;
  color: white;
}

.footer-links {
  display: flex;
  justify-content: center;
  text-align: center;

}

.nav-list-footer {
  list-style:none;
  display:block;
  position: relative;
  float: left;
  line-height: 2;
  text-align: left;
  margin-right: 100px;
}

.footer-title {
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}

.nav-list-footer a:link,
.nav-list-footer a:visited {
  color: lightgray;  
  text-decoration: none;
}

.rights {
  position: absolute;
  margin-top: 100px; 
  position: static;
  text-align: center;
}