*, ::after, ::before {
  box-sizing: border-box;
}

header {
  background-color: lightgray;
  height: 100%;
}

body {
  margin: 0;
  width: auto;
  padding: 0;
}

main {
  padding: 1rem;
}

.main-layout {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h1 {
  font-size: 30px;
  color: black;
  margin-top: 20px;
  text-align: center;
}

h2 {
  font-size: 20px;
  color: #da762a;
  margin-bottom: 10px;
  text-align: left;
}

footer {
  background-color: #363030;
  position: relative;
  left: 0;
  bottom: 0;
  text-align: left;
  color: #ffffff;
}

@media screen and (min-width: 1024px) {
  body {
    margin: 0 auto;
  }
  .main-layout {
    flex-direction: row;
  }
}
*, ::after, ::before {
  box-sizing: border-box;
}

header {
  background-color: lightgray;
  height: 100%;
}

body {
  margin: 0;
  width: auto;
  padding: 0;
}

main {
  padding: 1rem;
}

.main-layout {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h1 {
  font-size: 30px;
  color: black;
  margin-top: 20px;
  text-align: center;
}

h2 {
  font-size: 20px;
  color: #da762a;
  margin-bottom: 10px;
  text-align: left;
}

footer {
  background-color: #363030;
  position: relative;
  left: 0;
  bottom: 0;
  text-align: left;
  color: #ffffff;
}

@media screen and (min-width: 1024px) {
  body {
    margin: 0 auto;
  }
  .main-layout {
    flex-direction: row;
  }
}
.nav {
  text-align: center;
}

.nav__logo img {
  display: inline;
  vertical-align: top;
  margin-left: 250px;
  width: 140px;
  height: 70px;
  padding: 10px;
  -o-object-fit: contain;
     object-fit: contain;
}

.search {
  position: relative;
  margin-bottom: 5px;
  display: inline-block;
  align-items: center;
  font-size: 0;
}
.search .search__input,
.search .search__img {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}

.search__input {
  border: none;
  padding: 10px;
  width: 300px;
  background-color: #ffffff;
  color: black;
}

.search__img {
  background-image: url(../assets/icon-search.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 35px;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
}

.nav__burger {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 10px;
  border: none;
  background: none;
  cursor: pointer;
}
.nav__burger img {
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: lightgray;
}

.nav__list {
  text-align: left;
  list-style: none;
  margin-right: 20px;
  background-color: rgb(170, 170, 170);
  color: black;
  display: block;
}
.nav__list .nav__item {
  padding: 10px 0;
  margin-left: 5px;
  color: black;
}
.nav__list .nav__item a {
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 1024px) {
  .nav__logo img {
    box-sizing: border-box;
    margin-left: 0px;
    display: block;
  }
  .nav__list {
    list-style: none;
    margin-top: -30px;
    text-align: center;
    background-color: lightgray;
  }
  .nav__list .nav__item {
    border-right: 2px solid black;
    display: inline-block;
    padding: 0 15px;
    margin-top: 0px;
  }
  .nav__list .nav__item:last-child {
    border-right: 0;
  }
  .search {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .search__input {
    width: 150px;
  }
  .nav__burger {
    display: none;
  }
}
*, ::after, ::before {
  box-sizing: border-box;
}

header {
  background-color: lightgray;
  height: 100%;
}

body {
  margin: 0;
  width: auto;
  padding: 0;
}

main {
  padding: 1rem;
}

.main-layout {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h1 {
  font-size: 30px;
  color: black;
  margin-top: 20px;
  text-align: center;
}

h2 {
  font-size: 20px;
  color: #da762a;
  margin-bottom: 10px;
  text-align: left;
}

footer {
  background-color: #363030;
  position: relative;
  left: 0;
  bottom: 0;
  text-align: left;
  color: #ffffff;
}

@media screen and (min-width: 1024px) {
  body {
    margin: 0 auto;
  }
  .main-layout {
    flex-direction: row;
  }
}
.footer__nav-list {
  list-style: none;
  display: block;
  position: relative;
  line-height: 2;
  text-align: left;
  margin-right: 30px;
  width: 200px;
}

.footer__nav-list--desktop-only {
  display: none;
}

.footer__nav-list--title {
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 10px;
}

.footer__nav-list a:link,
.footer__nav-list a:visited {
  color: lightgray;
  text-decoration: none;
}

.footer__rights {
  margin-top: 100px;
  padding-bottom: 40px;
  margin-bottom: -10px;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .footer {
    text-align: center;
  }
  .footer__nav-list,
  .footer__nav-list--desktop-only {
    list-style: none;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    position: relative;
    line-height: 2;
    text-align: left;
    margin-right: 100px;
  }
}
*, ::after, ::before {
  box-sizing: border-box;
}

header {
  background-color: lightgray;
  height: 100%;
}

body {
  margin: 0;
  width: auto;
  padding: 0;
}

main {
  padding: 1rem;
}

.main-layout {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h1 {
  font-size: 30px;
  color: black;
  margin-top: 20px;
  text-align: center;
}

h2 {
  font-size: 20px;
  color: #da762a;
  margin-bottom: 10px;
  text-align: left;
}

footer {
  background-color: #363030;
  position: relative;
  left: 0;
  bottom: 0;
  text-align: left;
  color: #ffffff;
}

@media screen and (min-width: 1024px) {
  body {
    margin: 0 auto;
  }
  .main-layout {
    flex-direction: row;
  }
}
.content {
  width: 100%;
  margin-top: 0px;
}

.side-menu {
  display: none;
}

.article {
  margin: 15px;
  padding: 20px;
  background: #f3f3f3;
  text-align: left;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  font-size: 15px;
}
.article .article__img--right {
  flex: 0 0 auto;
  order: 0;
  align-self: flex-end;
}
.article .article__img--right img {
  width: 170px;
  height: 140PX;
  margin: 0;
}

.article__body {
  flex: 1;
  flex-grow: 1;
  order: 1;
}

.article_links {
  flex: 1;
  order: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.content__row {
  font-size: 0;
  white-space: normal;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.article--part-2 {
  flex: 1 1 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  padding: 1rem;
  box-sizing: border-box;
}

.card-content {
  display: flex;
  flex-direction: column;
}
.card-content h2 {
  flex: 1;
  order: 1;
}
.card-content p {
  flex: 1;
  order: 3;
}
.card-content .article__img--wide {
  flex: 1;
  order: 2;
}

.article--left .article__body {
  order: 2;
}
.article--left .article_links {
  order: 1;
}
.article--left .article_links .article__read-more {
  align-self: flex-start;
}

.article__img--wide img {
  width: 100%;
  height: 170px;
  display: block;
  margin: 0 auto;
}

.article--text h2 {
  flex: 1;
  order: 1;
}
.article--text p {
  flex: 1;
  order: 2;
}
.article--text .article__img--wide {
  flex: 1;
  order: 3;
}

.article__title {
  text-align: center;
  margin-top: -5px;
}

.article__read-more {
  margin-top: auto;
  align-self: flex-end;
}

.content__articles {
  display: flex;
  flex-wrap: wrap;
}

.visualyHidden {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.skip-link {
  left: -100%;
  position: absolute;
}

.skip-link:focus {
  left: 50%;
}

@media screen and (min-width: 1024px) {
  .content__articles {
    flex-wrap: wrap;
  }
  .side-menu {
    display: block;
    flex: 0 0 200px;
  }
  .left-menu {
    background-color: #f3f3f3;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin: 25px;
  }
  .left-menu ul {
    padding: 10px;
    margin: 0;
  }
  .left-menu__item {
    background-color: #979694;
    width: 230px;
    border: none;
    cursor: pointer;
    padding: 1px 20px;
    margin: 10px;
    border-radius: 8px;
    height: 40px;
    color: #ffffff;
    line-height: 38px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
  }
  .left-menu__label {
    flex-grow: 1;
  }
  .left-menu__btn {
    align-self: flex-end;
    background-color: #979694;
    color: #ffffff;
    border: none;
    height: 35px;
    font-size: 24px;
    font-weight: lighter;
    padding: 0 10px;
    margin-top: 2px;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
    cursor: pointer;
  }
  .item--opened {
    background-color: #da762a;
  }
  .left-menu__item--opened {
    background-color: #f8f8f8;
    border: #f3f3f3 solid 1px;
    width: 200px;
    border-radius: 10%;
    margin: 0 10px;
    height: 100px;
    display: block;
    position: relative;
    list-style: none;
    color: black;
  }
  .left-menu__item--opened a {
    color: black;
  }
  .content {
    flex: 1;
    height: 100%;
  }
  .content__row {
    flex-direction: row;
    gap: 0.5rem;
  }
  .article--part-2 {
    min-width: 45%;
  }
  .article--part-3 {
    min-width: 30%;
  }
  .article--left .article__body {
    order: 1;
  }
  .article--left .article_links {
    order: 2;
  }
  .article--left .article_links .article__read-more {
    align-self: flex-end;
  }
  .article--text p {
    order: 3;
  }
  .article--text .article__img--wide {
    order: 2;
  }
}/*# sourceMappingURL=index.css.map */